@model SalesWebMvc.Models.Seller
@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Vendedor</h4>
    <dl class="dl-horizontal">
        <dt>Nome</dt>
        <dd>@Html.DisplayFor(viewModel => viewModel.Name)</dd>
        <dt>E-mail</dt>
        <dd>@Html.DisplayFor(viewModel => viewModel.Email)</dd>
        <dt>Data de Nascimento</dt>
        <dd>@Html.DisplayFor(viewModel => viewModel.BirthDate)</dd>
        <dt>Salário Base</dt>
        <dd>@Html.DisplayFor(viewModel => viewModel.BaseSalary)</dd>
        <dt>Departamento</dt>
        <dd>@Html.DisplayFor(viewModel => viewModel.Department.Name)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id " class="btn btn-danger">Editar</a>
    <a asp-action="Index" class="btn btn-default">Voltar para lista</a>
</div>